[submodule "vydeos_backend"]
	path = vydeos_backend
	url = https://github.com/ipyton/vydeos_backend.git
[submodule "vydeos_frontend"]
	path = vydeos_frontend
	url = https://github.com/ipyton/vydeos_frontend.git
[submodule "movie_service"]
	path = movie_service
	url = https://github.com/ipyton/MovieService.git
